.userInfo{
    padding-top:5%;
}
.userInfo{
    width: 100%;
    background: #fff;
    padding: 5% 0;
    overflow: hidden;
    .portrait{
        width:25%;
        padding-left: 5%;
        float: left;
        img{
            width: 70px;
            height: 70px;
            border-radius: 50%;
        }
    }
    .infoBox{
        width: 65%; 
        float: right;
        margin-right: 5%;
        .username{
            font-weight: bold;
        }
        p{
            padding: 1% 0;
            margin: 0;
            font-size: 13px;
        }
        .gradeTxt{color: chocolate}
    }
}
.otherBox{
    width: 100%;
    margin-top: 10px;
   div{
       width: 33.3%;
       height: 100px;
       text-align: center;
       line-height: 100px;
       display: inline-block;
       background: #fff;
       border: 1px solid #eee;
   }
}
