*{list-style-type:none; font-family: "Micrsoft YaHei"; font-size: 20px }
.main{width: 100%; height: 100%;}
.header{background:#55b3ea; color: #fff; height: 60px; line-height: 60px}
.logo{ padding-left: 30px; font-size:25px }
.tool{position: relative;}
.tool ul{position: absolute; right: 0;}
.tool li{width: 100px; float: left;}
.content{margin-top: 0.5%; height:93%;}
.main-conp{width: 90%; margin:10px auto;}
.conpment{ background: #fff;  height:100%; overflow-y: auto;}
.conDiv div{ cursor: pointer; width: 90%; height: 100px; line-height: 100px; margin: 0 auto; margin-top: 10px; text-align: center; background: #eee; border: 1px solid #ddd; border-radius:10px}
.conp{ margin-top: 20px;}
.tit{ text-align: center; font-size: 25px;}
.operation{ height: 100%;}
.main-opera{ height:100%; overflow-y: auto;}
.opera-con{
    width: 38%;
    height: 80%;
    margin: 0 auto;
    margin-top: 7%;
    background: #fff;
}
.addTool{ height: 100%; background: #fff; margin:0 20px}
.add-tit{padding-left: 30px; padding-bottom: 10px; border-bottom:1px solid #f0f2f7; font-size: 30px }
.ck-box{ padding-left: 30px;}
.ck-tit{ padding: 10px 0;}
.ck-con{padding-left: 20px}
.quick span{
    padding: 5px 10px;
    border: 1px solid #55b3ea;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}
.quick span:hover{
    background: #55b3ea;
    color: #fff;
}
.size-box{margin-top: 20px}
.size-box p input{width: 100px; border:1px solid #55b3ea; text-align: center}
.size-box p span{
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #55b3ea;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    margin: 0 10px;
    color: #55b3ea;
}
.txt-rig{
    text-align: right
}
